<div class="page-container">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Movie Search Engine</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container content-wrap">
    <div class="row">

      <div class="col-lg-3">
        <app-search (search)="onSearch($event)"></app-search>
      </div>

      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4" *ngFor="let movie of movies"  [@simpleFadeAnimation]>
            <app-movie-card [movie]="movie"></app-movie-card>
          </div>
          <div class="col-lg-4 col-md-12" *ngIf="loading" [@simpleFadeAnimation]>
              <app-movie-card-loading></app-movie-card-loading>
          </div>
          <div class="col-lg-4 col-md-12" *ngIf="loading" [@simpleFadeAnimation]>
              <app-movie-card-loading></app-movie-card-loading>
          </div>
          <div class="col-lg-4 col-md-12" *ngIf="loading" [@simpleFadeAnimation]>
              <app-movie-card-loading></app-movie-card-loading>
          </div>
          <div class="col-md-12" *ngIf="!loading && notFound" [@simpleFadeAnimation]>
              <app-empty-search 
              [title]="'No results were found'" 
              [description]="'Use the search panel to filter your favorite movies'">
            </app-empty-search>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark footer">
    <div class="container">
    </div>
    <!-- /.container -->
  </footer>
</div>
